In [3]:
import pandas as pd
import numpy as np

## Part 1: Building the dataframe

In [5]:
#scrap wikipedia
#https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
import pandas as pd

 
#Get the html source
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
#df.to_csv('beautifulsoup_pandas.csv',header=0,index=False)
print (df.head())

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Cleaning the data

In [8]:
#To create the above dataframe:

#1- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
#2- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
#3- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, 
    #you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
    #These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
#4- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. 
    #So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
#5- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
#6- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
#7- Submit a link to your Notebook on your Github repository. (10 marks)

In [9]:
#2- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df.drop(df.loc[df['Borough']=='Not assigned'].index, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [64]:
#3- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, 
    #you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
    #These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
    
df_g = df.groupby(['Postcode', 'Borough'], as_index=False).agg(', '.join)
#df_g.loc[df_g['Postcode']=='M5V']
df_g.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [76]:
#4- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. 
    #So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
df_g.loc[df_g['Neighbourhood']=='Not assigned' , 'Neighbourhood'] =  df_g.loc[df_g['Neighbourhood']=='Not assigned' , 'Borough']
#df_g.loc[df_g['Postcode']=='M7A']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [77]:
#5- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
#6- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
df_g.shape

(103, 3)